.body_content{
    padding: 20px 250px;
}
.cards{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 2%;
    grid-row-gap:25px;
    margin: 10px 0px;
}
.cart_body{
    box-shadow: 0px 0px 5px 2px #888888;
    padding: 5px;
    height: 150px;
    grid-template-columns: 45% 5% 50%;
    display: grid;
}
.card-body{
    padding: 0.75rem  !important;
}
.card-header {
    padding: .50rem  .50rem;
}
.icons{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 42px 10px;
    justify-content: center;
}
.icon{
    font-size: 23px;
}
.tab-btn {
    width: 100%;
}
.ibox-content {
    padding-bottom: 60px;
}
.ibox-content {
    clear: both;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0px;
}
.tab-cont {
    padding: 5px;
}
.formActions {
    margin-right: 5px;
    margin-left: 5px;
}

/****** sharath **************/
.done{
    background-color: #EEA535 !important;
    color: white !important;
  }
  .active{
    color: white !important;
  }
  .formContainer{
      background-color: #eee;
  }
  fieldset{
      float: left;
      width: 100%;
      height: 95%;
      padding: 2.5%;
      background-color: #eee;
  }
  label {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: 600;
  }
  .steps .btn{
      text-align: left;
  }
  .tab-btn{
      width: 100%;
  }
  .tab-cont{
    padding: 5px;
  }
  .tablist{
      padding-left: 10px;
      padding-right: 10px;
  }
  .formActions{
      margin-right: 5px;
      margin-left: 5px;
  }
  .ibox-content{
      padding-bottom: 60px;
  }
  a:hover, a:focus {
      color: white;
      text-decoration: underline;
  }
  .disabled{
    cursor: not-allowed;
    background: #ccc;
  }
  /*************** modal styling *****************/
  .material-switch > input[type="checkbox"] {
      display: none;
  }
  .material-switch > label {
      cursor: pointer;
      height: 0px;
      position: relative;
      width: 40px;
  }
  
  .material-switch > label::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -8px;
      position:absolute;
      opacity: 0.3;
      transition: all 0.4s ease-in-out;
      width: 40px;
  }
  .material-switch > label::after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -8px;
      position: absolute;
      top: -4px;
      transition: all 0.3s ease-in-out;
      width: 24px;
  }
  .material-switch > input[type="checkbox"]:checked + label::before {
      background: inherit;
      opacity: 0.5;
  }
  .material-switch > input[type="checkbox"]:checked + label::after {
      background: inherit;
      left: 20px;
  }
  /************* A2P bootstrap select ********/
  .bootstrap-select{
      width:100% !important;
      margin-bottom: 0px !important;
  }
  .bootstrap-select .btn{
      padding: 5px !important;
  }
  /************ Alerts Page ************/
  .table-mail .orange{
     border-left: 6px solid #f8ac59;
  }
  .table-mail .red{
     border-left: 6px solid #ed5565;
  }
  .table-mail .blue{
     border-left: 6px solid #23c6c8;
  }
  /************** Radio ******************/
  .radio+.radio{
   margin-top: 10px !important;
  }
  /*********** Loading modal *************/
  /* Start by setting display:none to make this hidden.
     Then we position it in relation to the viewport window
     with position:fixed. Width, height, top and left speak
     for themselves. Background we set to 80% white with
     our animation centered, and no-repeating */
  #loadingModal {
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      background: rgba( 255, 255, 255, .8 )
                  url('/images/loader.gif')
                  50% 50%
                  no-repeat;
  }
  #loadingModal1 {
      position:   fixed;
      z-index:    1000;
      top:        0;
      left:       0;
      height:     100%;
      width:      100%;
      color:      #f4800b;
      background: rgba( 255, 255, 255, .8 )
                  url('/images/loader_orange.gif')
                  50% 50%
                  no-repeat;
  }
  body.loading .modal {
      display: block;
  }
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background:rgba(184, 184, 184, 0.5);
    padding-top: 10px;
    text-align:center;
    font: normal 15px Calibri;
    color:#ffffff;
  }
  /****** Disabling any div *******/
  .disabled_div{
      z-index: 1000;
      background-color: lightgrey;
      opacity: 0.6;
      pointer-events: none;
  }
  .dis_div {
    z-index: 1000; 
    opacity: 0.6;
    pointer-events: none;
  }
  .disabled_input{
      z-index: 1000;
      background-color: #f5f5f5;
      opacity: 0.6;
      pointer-events: none;
  }
  /****Campaign Creation ******/
  .widget.active,
  .widget:hover{
      opacity: 1;
      -webkit-transform: scale(.9,.9);
              transform: scale(.9,.9);
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .widget{
      max-width: 100%;
      opacity: .5;
      -webkit-transform: scale(.8,.8);
              transform: scale(.8,.8);
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .ecp_select.active ,
  .ecp_select:hover {
      color:black !important;
      opacity: 1 !important;
      -webkit-transform: scale(1,1);
              transform: scale(1,1);
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .ecp_select  {
      max-width: 100%;
      opacity: .6;
      -webkit-transform: scale(.9,.9);
              transform: scale(.9,.9);
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  /**************** EMAIL Changes *********************/
  .note-editor.note-frame{
    border: none !important;
  }
  .btn-white.active{
      color: black !important;
  }
  /******** Contact Group Dual List *********/
  .dual-list .list-group {
      margin-top: 8px;
  }
  
  .list-left li, .list-right li {
      cursor: pointer;
  }
  
  .list-arrows {
      padding-top: 100px;
  }
  
  .list-arrows button {
      margin-bottom: 20px;
  }
  /*******************/
  .list-group-item.active{
      z-index: 2;
      color: #fff;
      background-color: #428bca;
      border-color: #428bca;
  }
  .pull-right {
    float: right!important;
}
  .modal-backdrop {
      position: inherit !important;
  }
  
  /* Social Media CSS starts here */
  .preview-social {
      margin-left: 20%;
      width: 354px;
      min-height: 345px;
      padding: 75px 2px 2px 0px;
      background-image: url("/images/android_preview.png");
  }
  .social-type-ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  .social-current {
      padding: 10px;
      display: block;
      text-align: center;
      text-decoration: none;
      border-radius: 25px;
      background-color: #d6d4d4;
      color: black;
      font-size : 14px;
      width : 150px!important;
  }
  .social-type-active {
      background-color: #F4980B ;
      color: white;
  }
  /* Social Media CSS ends here */
  /* chatbot CSS starts here */
  .preview-chatbot {
      margin-left: 20%;
      width: 354px;
      min-height: 345px;
      padding: 120px 22px 275px 22px;
      background-image: url("/images/android_preview.png");
  }
  
  /* chatbot CSS ends here */
  
  
  /*Push Notification CSS */
  .preview-push {
      margin-left: 20%;
      width: 354px;
      min-height: 345px;
      padding: 140px 23px 50px 20px;
      background-image: url("/images/android_preview.png");
  }
  
  .preview-push-head-icon {
  
      -ms-flex: 0 0 30px;
      -webkit-flex: 0 0 30px;
      flex: 0 0 30px;
      height: 30px;
      background-size: 30px 30px;
      background-repeat:no-repeat;
      margin-right: 8px;
      background-image : url("/images/ngageLogo.png")
    /*  background-image: url("../../images/logo_small.png");*/
  }
  
  .preview-push-head-icon7 {
      -ms-flex: 0 0 30px;
      -webkit-flex: 0 0 30px;
      flex: 0 0 16px;
      height: 16px;
      margin-right: 5px;
      background-size: 16px 16px;
      background-color: #FBFBFB;
     /* background-image: url("../../images/logo_small.png");*/
  }
  
  .preview-push-img {
      padding-top: 20px;
      height: 130px;
      background-size: cover;
      background-position: center center;
      background-image: url("/images/cover1.jpg");
  }
  .preview-push-head-content-icon{
      margin-bottom: 0px;
  }
  
  .preview-push-head-content-title-date {
      font-size: 11px;
      -ms-flex: 0 0 60px;
      -webkit-flex: 0 0 60px;
      flex: 0 0 60px;
      text-align: right;
      color: #696969;
      width:20%;
  }
  .preview-push-head-content-title {
      width:80%
  }
  
  .bundletable {
      text-align: right !important;
  }
  
  table.dataTable thead .sorting {
    background-image: url("/images/sort_both.png");
  }
  table.dataTable thead .sorting_asc {
      background-image: url("/images/sort_both.png") !important;
  }
  
  .newTable > tbody > tr > th{
      border: 1px solid #ddd !important;
      border-right: 1px solid #ddd !important;
      border-top: 1px solid #ddd !important;
      border-bottom: 1px solid #ddd!important;
      
  }
  
  .newTable > tbody > tr >td {
      border: 1px solid #ddd !important;
       border-left: 1px solid #ddd !important;
      border-top: 1px solid #ddd !important;
      border-right: 1px solid #ddd !important;
      border-bottom: 1px solid #ddd!important;
  }
  .newTable > thead > tr >th:nth-last-child(4) {
     
       width: 184px!important;
  }
  .newTable > tbody > tr >td:nth-last-child(4){
            
              width: 184px!important;
   }
  .newTable > thead > tr >th:nth-last-child(3) {
       text-align: right !important;
       width: 166px!important;
  }
  .newTable > thead > tr >th:nth-last-child(3) {
       text-align: right !important;
       width: 166px!important;
  }
  .newTable > thead > tr >th:nth-last-child(2) {
       text-align: right !important;
       width: 166px!important;
  }
  .newTable > thead > tr >th:nth-last-child(2) {
       text-align: right !important;
       width: 166px!important;
  } 
  .newTable > tbody > tr >th:nth-last-child(3) {
              text-align: right !important;
              width: 166px!important;
  }
  .newTable > tbody > tr >td:nth-last-child(3){
              text-align: right !important;
              width: 166px!important;
   }
  .newTable > tbody > tr > th:nth-last-child(2){
              text-align: right !important;
              width: 146px!important;
  }
  .newTable > tbody > tr >td:nth-last-child(2) {
              text-align: right !important;
              width: 146px!important;
   }
   
  
   /*.newTable > thead > tr > th {
     
      border-bottom: 1px solid !important;
  }*/
  .newTable {
      border-color: grey !important;
  }
  
  /**************************************Added for Tree View**************/
  #accordion .panel-heading {
      padding: 0;
  }
  
  #accordion .panel-title>a {
      display: block;
      padding: 0.4em 0.6em;
      outline: none;
      font-weight: bold;
      text-decoration: none;
  }
  
  #accordion .panel-title>a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before
      {
      content: "\e113";
      float: left;
      font-family: 'Glyphicons Halflings';
      margin-right: 1em;
  }
  
  #accordion .panel-title>a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before
      {
      content: "\e114";
  }
  #accordion.panel-group .panel{
      margin-top: 5px;
  }
  #accordion .actions_div > a {
       font-size: 14px;
      margin-right: 15px;
  }
  #accordion .actions_div > a.exit-btn {
  color:#dd4b39;
  }
  #accordion .remove_field.exit-btn{
  color:#dd4b39;
  margin-left:7px;
  float: left;
  }
  /**************************************End ofAdded for Tree View**************/
  
  .campaign-type-ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }
  .campaign-current {
      padding: 5px;
      display: block;
      text-align: center;
      text-decoration: none;
      border-radius: 10px;
      background-color: #d6d4d4;
      color: black;
      font-size : 14px;
      width : 100px!important;
  }
  .camp-type-active {
      background-color: #F4980B ;
      color: white;
  }
  .p-camp {
      font: 10px;
  }
  .btn-default {
      color: black;
  }
  
  #pointed {
  position: relative;
  background-color: #ccc;
  }
  
  #pointed:after,
  #pointed::after {
      position: absolute;
      top: 12px;
      left: -10px;
      content: '';
      width: 0;
      height: 0;
      border-right: solid 10px #ccc;
      border-bottom: solid 10px transparent;
      border-top: solid 10px transparent;
  }
  
  /****** Disabling any div *******/
  .disabled_div{
      z-index: 1000;
      background-color: lightgrey;
      opacity: 0.6;
      pointer-events: none;
  }
  
  /*** Package css ***/
  a.parent-ul:hover{
  color:green;
  text-decoration:none;
  }
  
  a.parent-ul {
    color : #333;
  
  }
  a.panel-toggle:hover{
  color:green;
  text-decoration:none;
  }
  
  ul.list > li > ul {
   display: none;
  }
  
  
  
  /* COMMON PRICING STYLES */
      .panel.price,
      .panel.price>.panel-heading{
        border-radius:0px;
      }
      .panel.price:hover{
        box-shadow: 0px 0px 30px rgba(0,0,0, .2);
      }
      .panel.price:hover>.panel-heading{
        box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
      }
      
          
      .panel.price>.panel-heading{
        box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
        text-shadow:0px 3px 0px rgba(50,50,50, .6);
      }
      
      .panel.price .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      .panel.price .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      }
      
      .price .panel-footer {
        color: #fff;
        border-bottom:0px;
        background-color:  rgba(0,0,0, .1);
        box-shadow: 0px 3px 0px rgba(0,0,0, .3);
      }
      
      
      .panel.price .btn{
        box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
        border:0px;
      }
      /* red price */
      
    
      .price.panel-red>.panel-heading {
        color: #fff;
        background-color: #D04E50;
        border-color: #FF6062;
        border-bottom: 1px solid #FF6062;
      }
      
        
      .price.panel-red>.panel-body {
        color: #fff;
        background-color: #EF5A5C;
      }
      
      
      
      
      .price.panel-red>.panel-body .lead{
          text-shadow: 0px 3px 0px rgba(50,50,50, .3);
      }
      
      .price.panel-red .list-group-item {
        color: #333;
        background-color: rgba(50,50,50, .01);
        font-weight:600;
        text-shadow: 0px 1px 0px rgba(250,250,250, .75);
      }
      
      /* grey price */
      
    
      .price.panel-grey>.panel-heading {
        color: #fff;
        background-color: #6D6D6D;
        border-color: #B7B7B7;
        border-bottom: 1px solid #B7B7B7;
      }
      
        
      .price.panel-grey>.panel-body {
        color: #fff;
        background-color: #808080;
      }
      
  
      
      .price.panel-grey>.panel-body .lead{
          text-shadow: 0px 3px 0px rgba(50,50,50, .3);
      }
      
      .price.panel-grey .list-group-item {
        color: #333;
        background-color: rgba(50,50,50, .01);
        font-weight:600;
        text-shadow: 0px 1px 0px rgba(250,250,250, .75);
      }
      
  
      /* blue panel */
    
      
      .price.panel-blue>.panel-heading {
        color: #fff;
        background-color: #608BB4;
        border-color: #78AEE1;
        border-bottom: 1px solid #78AEE1;
      }
      
        
      .price.panel-blue>.panel-body {
        color: #fff;
        background-color: #73A3D4;
      }
          
      
      .price.panel-blue>.panel-body .lead{
          text-shadow: 0px 3px 0px rgba(50,50,50, .3);
      }
      
      .price.panel-blue .list-group-item {
        color: #333;
        background-color: rgba(50,50,50, .01);
        font-weight:600;
        text-shadow: 0px 1px 0px rgba(250,250,250, .75);
      }
      
      .carousel-indicators li { visibility: hidden;
       /* text-indent: 0;
        margin: 0 2px;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 100%;
        line-height: 30px;
        color: #fff;
        background-color: #999;
        transition: all 0.25s ease;
        &.active, &:hover 
          margin: 0 2px;
          width: 30px;
          height: 30px;
          background-color: #337ab7;        
        }*/
          }
      .carousel-control:hover{ color : #333; }
  
  
  
  .catalogue-table1 {
      border-top: 1px solid #ccc !important;
      border-left: 1px solid #ccc !important;
      border-collapse: collapse !important;
      margin-bottom: 1em !important;
  }
  
  .catalogue-table1 thead {
      color: white !important;
      background: #f4800b !important;
  }
  .blank-cell1 { border-left: none; border-right: none; } .text-success { color: #10cfbd !important; }
  
  .catalogue-table1 th {
      padding: 1em;
  }
  .catalogue-table1 th, .catalogue-table1 td {
      padding: 1em 1em;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
  }
  .catalogue-table1 tbody  td {
      text-align: center;
  }
  
  .group-header1 {
      width : 167px;
      text-align: left !important;
      font-weight: bold;
      font-size: 1em;
  }
  .catalogue-table1 th, .catalogue-table1 td {
      padding: 1em 1em;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
  }
  .header-row1 {
      border-right: 1px solid #ccc;
      background: #fafafa;
  }
  
  
  
  /*
  div.tab1 {
      float: left;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      width: 30%;
      height: 300px;
  }
  
  
  div.tab1 button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
  }
  
  
  div.tab1 button:hover {
      background-color: #ddd;
  }
  
  
  div.tab1 button.active {
      background-color: #ccc;
  }
  
  .tabcontent1 {
      float: left;
      padding: 0px 12px;
      border: 1px solid #ccc;
      width: 70%;
      border-left: none;
      height: 300px;
  }*/
  
  
  .tabs {
   
    position: relative;
    background: white;
    width: 95%;
  }
  
  .tabs nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /*background: #ccc;*/
    color: black;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);*/
    width: 150px;
    color: black;
    border-right: 2px solid #ccc;
  }
  
  .tabs nav a {
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: #565353;
    font-size: 1em;
    font-weight: bold;
  }
  
  .tabs nav a:hover,
  .tabs nav a.selected {
   /* background: #6C5D5D;*/
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
   color: #f4800b;
   border-right: 4px solid #f4800b;
   font-weight: bold;
  }
  
  .tabs .content {
    padding: 20px 0px;
    position: fixed;
    top: 0px;
    left: 150px;
    color: #6C5D5D;
    width: 0px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s linear 0s;
  }
  
  .tabs .content.visible {
    padding: 20px;
    width: calc(100% - 150px);
    opacity: 1;
    position: absolute;
  }
  
  .swalStatus button.cancel{
    background-color: #da5866 !important;
   
  }
  .swalStatus button.cancel:hover {
      background-color: #da5866 !important;
  }
  
  .tabs .content p { padding-bottom: 2px; }
  
  .tabs .content p:last-of-type { padding-bottom: 0px; }
   .plusButton a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .container1:hover .plusButton {
    opacity: 1;
  }
  
   div.show-image {
      position: relative;
      float:left;
      margin:5px;
  }
  div.show-image:hover img{
      opacity:0.5;
  }
  div.show-image:hover i {
      display: block;
  }
  div.show-image i {
      position:absolute;
      display:none;
  }
  div.show-image i.update {
      top:0;
      left:0;
  }
  div.show-image i.delete {
      top:0;
      left:79%;
  }
  /** For dashboard ***/  
  #myDiv1.fullscreen{
      z-index: 9999; 
      width: 100%; 
      height: 100%; 
      position: fixed; 
      top: 0; 
      left: 0; 
   }
  
  #myDiv2.fullscreen{
      z-index: 9999; 
      width: 100%; 
      height: 100%; 
      position: fixed; 
      top: 0; 
      left: 0; 
   }
  /* Expandable div */
  .panel-actions {
    margin-top: -20px;
    margin-bottom: 0;
    text-align: right;
  }
  .panel-actions a {
    color:#333;
  }
  .panel-fullscreen {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  
  .panel-fullscreen1 {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  .panel-fullscreen2 {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  .panel-fullscreen3 {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  .panel-fullscreen4 {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  .panel-fullscreen5 {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  .panel-fullscreen6 {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  .panel-fullscreen7 {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  .panel-fullscreen8 {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
  
  
  